# Core functionality - changes here should be rare!
/src/app.py                   @mergentlegen
/src/backend/database.py      @mergentlegen
/src/backend/routers/auth.py  @mergentlegen

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mergentlegen
